body, html {
    width: 100%;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    -webkit-overflow-scrolling: auto; /* lets it scroll lazy */
}

h1, h2 {
    line-height: 140%;
    color: #333333;
}

h1 {
    font-size: 44px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
}

.font-light {
    font-weight: 300;
}

.bold {
    font-weight: 500;
}

.margin-bottom-big {
    margin-bottom: 80px;
}

p, a {
    font-size: 18px;
    font-weight: 300;
}

a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0
}

.underlined {
    text-decoration: underline;
}

.navbar-toggle {
    margin: 30px;
}

.header {
    width: 100%;
    position: relative;
    z-index: 3;
}

.header.header--clone {
    position: fixed;
    top: 0;
    left: 0;

    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.header.header--stick {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

.header.header--stick .navbar .content {
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 4px 40px rgba(0, 0, 0, 0.05);
    /*padding: 0;*/
}

.header.header--stick .navbar.navbar-default .navbar-brand > .menu-item {
    color: #333333 !important;
}

.navbar.navbar-default .navbar-brand {
    margin-left: 0;
    padding-left: 0;
}

.navbar {
    background-color: transparent;
    padding-top: 0;
    border: none;
    transition: top .3s ease-in-out;
    margin-bottom: 0;
}

.navbar.navbar-default {
    background: transparent;
}

.navbar.navbar-default .navbar-brand {
    padding: 0;
    display: flex;
    align-items: center;
    margin: 32px 0;
    font-weight: 400;
    color: #2F80ED !important;
    height: auto;
}

.navbar.navbar-default .navbar-brand > .menu-item {

}

.nav.navbar-nav {
    margin: 0 auto;
    padding: 0;
}

.nav.navbar-nav.navbar-right > li > a.menu-item > img {
    height: 20px;
}
.nav.navbar-nav.navbar-right > li > a.menu-item > p {
    color: #FFFFFF;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
}

.header--clone .nav.navbar-nav.navbar-right > li > a.menu-item > p {
    color: #000;
}

.navbar-nav > li, .navbar-nav {
    float: left !important;
}

.navbar-right {
    float: right !important;
}

.nav.navbar-nav.navbar-right > li > a.menu-item:link,
.nav.navbar-nav.navbar-right > li > a.menu-item:hover,
.nav.navbar-nav.navbar-right > li > a.menu-item:visited,
.nav.navbar-nav.navbar-right > li > a.menu-item:active {
    text-decoration: none
}

.nav.navbar-nav.navbar-right > li > a > img {
    vertical-align: middle;
}

.no-side-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-side-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.ordinary-line-height {
    line-height: 100%;
}

.display-table {
    display: table !important;
}

.type-it {
    color: #00A8D0;
    white-space: pre-wrap;
    max-width: 100%;
    font-size: 26px;
}

.slide-2 {
    height: 100vh;
    background: linear-gradient(90deg, #00BCD4 16.44%, #8BC34A 84.5%);
    display: flex;
    float: left;
    width: 100%;
    flex-direction: column;
    position: relative;
    min-height: 840px;
}

.slide-2 .background .rect {
    height: 52%;
}

.slide-2, .slide-3 {
    background: linear-gradient(270deg, #00BCD4 16.44%, #8BC34A 84.5%);
}

.slide-2 ol {
    margin-top: 25px;
}
.slide-2 ol li,
.slide-2 ol li h3 {
    font-size: 32px;
    font-family: 'Kanit', sans-serif;
    color: #C4C4C4;
}

.slide-2 li h3 {
    margin: 0;
    line-height: 1;
}

.slide-2 li p {
    font-size: 15px;
    line-height: 23px;
    color: #C4C4C4;
    /*opacity: .6;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.slide-2 li p > a {
    color: #C4C4C4;
    display: inline-block;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.slide-2 ol li.active,
.slide-2 ol li.active h3,
.slide-2 ol li.active p > a {
    color: #00BCD4;
    transition: .1s ease-in-out;
}

.slide-2 ol li.active p {
    color: #333333;
}

.slide-2 ol li:hover p {
    color: #333333;
}
.slide-2 ol li:hover,
.slide-2 ol li:hover h3,
.slide-2 ol li:hover p > a  {
    color: #8BC34A;
    cursor: pointer;
}

/*effect-underline*/
.slide-2 ol li p > a:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

.slide-2 ol li:hover p > a:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.slide-3 {
    padding: 0 0 75px;
}

.slide-3 .content {
    /*margin: 72px auto 50px;*/
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /*width: 80%;*/
}

.slide-3 {
    margin-top: -80px;
    padding-bottom: 60px;
}

.slide-3 .background {
    display: flex;
    align-items: flex-end;
    height: 599px;
}

.slide-3 .background .rect {
    height: calc(599px - 33vh);
    width: 100%;
}

.slide-3 .introduction-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 33%;
    height: 100%;
    padding: 80px 0;
}

.content .feedback {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 25px;
    background: #FFFFFF;
    margin: 0 12px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.203861);
    border-radius: 10px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    font-size: 15px;

    color: #333333;
}

.feedback img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.feedback h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    margin: 0;
}
.feedback h4 span {
    font-size: 15px;
    font-weight: 300;
}

.slide-3 .feedback p,
.slide-5 .feedback p {
    margin: 0;
    font-size: 15px;
}

.slide-4 {
    background: #FFFFFF;
    padding: 75px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.slide-4 .content {
    width: 80%;
    margin: 0 auto;
}

#feedbackCarousel {
    margin-top: 75px;
}
#feedbackCarousel .carousel-control {
    background: none;
    display: flex;
    align-items: center;
    width: unset;
}
#feedbackCarousel .carousel-control:first-of-type {
    justify-content: flex-start;
}
#feedbackCarousel .carousel-control:last-of-type {
    justify-content: flex-end;
}


#feedbackCarousel .feedback {
    box-shadow: none;
    width: 70%;
    margin: 0 auto;
    padding: 0;
}
#feedbackCarousel .feedback p {
    margin-bottom: 12px;
    line-height: 23px;
    font-size: 15px;
}
#feedbackCarousel .feedback h5 {
    font-size: 16px;
    margin: 0;
    letter-spacing: 1.5px;
}
#feedbackCarousel .feedback img {
    height: 120px;
    width: auto;
    margin-right: 38px;
    border-radius: 100px;
}

.slide-5 {
    position: relative;
    background: linear-gradient(90deg, #00BCD4 16.44%, #8BC34A 84.5%);
    padding-top: 75px;
}

.slide-5 .content {
    border-radius: 10px;
    padding: 0;
    width: 75%;
    margin: 50px auto 75px;
}

.slide-6 {
    background: linear-gradient(90deg, #00BCD4 16.44%, #8BC34A 84.5%);
}

.slide-6 .top-content {
    margin-bottom: 25px;
}


.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5,
.slide-6 {
    display: flex;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    flex-direction: column;
}

form[name="contactForm"] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form[name="contactForm"] input {
    background: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 64px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px 24px;
    color: #FFFFFF;
    margin-bottom: 25px;
    outline: none;
    width: 369px;
}

form[name="contactForm"] input::placeholder {
    color: #FFFFFF;
}


.slide-1 > .content,
.slide-4 .content-inner {
    margin-top: auto;
    margin-bottom: auto;
}

.slide-1 .container-bottom {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding-top: 80px;
}

.slide-1 .iva-btn {
    margin-top: 40px;
}

.slide-2 {
    padding: 0;
    /*background: url("../img/header-img-min.png");*/
    /*background-size: cover;*/
    width: 100%;
}

.slide-2 .case:hover {
    background: #FFFFFF;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: .2s ease-in-out;
}

.slide-2 .case:hover {
    text-decoration: none;
}
.slide-2 .case img {
    height: 150px;
    max-width: 100%;
    margin: 50px 0 20px;
}

.slide-2 .case .title {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.384px;
    color: #333333;
    margin-bottom: 5px;
}

.slide-2 .case .text {
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.384px;
    color: #333333;
}

.slide-2 .powered-header {
    margin-top: 50px;
}

.slide-2 .container-inner {
    background: #FFFFFF;
    padding: 0 0 80px;
}

.rights-reserved {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
}
.rights-reserved p {
    font-size: 13px;
    text-align: center;
    margin: 0;
}

.iva-description-img {
    vertical-align: middle;
    padding: 50px 0 0;
    position: relative;
    z-index: 1;
    background: url("../img/phone-vertical-cover.png") no-repeat center;
    background-size: auto 100%;
    height: 572px;
    width: 300px;
    max-width: 100%;
}
.slide-3 .iva-description-img.animate-in {
    padding-top: 100px;
}

.slide-3 .iva-description-img img {
    height: 100%;
}
.slide-3 .iva-description-img .video {
    z-index: 9;
}

.bot-video {
    width: 233px;
    height: 490px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    margin-top: -19px;
    margin-left: -13px;
}

.social-link-container {
    margin: 75px auto 25px;
}

.social-link {
    outline: none;
    /*cursor: pointer;*/
}
.social-link img {
    width: 25px;
    height: 25px;
}
.social-link:not(:last-of-type) {
    margin-right: 25px;
}

.slide-5 .container-inner {
    padding: 80px 0;
    background: #FFFFFF;
}

.slide-5 p {
    margin-top: 20px;
    margin-bottom: 50px;
}

.slide-5 .iva-btn {
    margin: 0;
}

.slide-6 .container-inner {
    background: #006DFF;
    padding: 0;
    display: table;
}

.slide-6 .info {
    padding: 80px 0 80px 15px;
}

.slide-6 .logo-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #0052BF;
    float: none;
    padding-left: 0;
    padding-right: 0;
}

.slide-6 .logo-container img {
    max-width: 80%;
}

.slide-6 .logo-container.dark {
    background: #003780;
}

.slide-6 .logo-container a p {
    color: #FFFFFF !important;
    font-family: "Open+Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 110%;
}

.slide-4 .advantage .description .header {
    color: #49516B;
}

.slide-4 .advantage .description .subheader {
    color: rgba(0, 0, 0, .5);
}

#subscribeForm input {
    height: 66px;
    font-size: 18px;
    line-height: 100%;
    border-radius: 2px 0 0 2px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    background: #FFFFFF;
    outline: none;
    letter-spacing: 0.288px;
}

#subscribeForm input::placeholder {
    color: #333333;
}

.subscribe-container p:not(.heading) {
    margin: 20px auto 0;
    display: inline-block;
}


@media (max-width: 1199px) {
    h1 {
        letter-spacing: 0;
    }

    .slide-1 .container-bottom {
        padding-top: 50px;
    }

    .slide-3 .introduction-msg {
        width: 50%;
    }
    /*.slide-3 .iva-description {*/
        /*padding: 40px 0;*/
    /*}*/

    /*.slide-3 .iva-description-img {*/
        /*padding-top: 0;*/
    /*}*/

    /*.slide-3 .iva-description-img .bot-video {*/
        /*width: 215px;*/
        /*height: 371px;*/
        /*margin-top: -17px;*/
        /*margin-left: -11px;*/
    /*}*/

    .iva-btn.subscribe {
        text-align: center;
        padding: 22px 12px;
    }

    .iva-btn.subscribe span {
        display: none;
    }

    .iva-btn.subscribe img {
        display: inline-block;
        /*padding: 12px 24px;*/
    }
}

@media (max-width: 1025px) {
    .slide-3 .iva-description-img .bot-video {
        width: 212px;
        height: 376px;
        margin-top: -36px;
        margin-left: 21px;
    }
}


@media (min-width: 992px) {
    /*#showHeader {*/
        /*position: absolute;*/
        /*bottom: 140px;*/
    /*}*/

    .slide-1 > .content {
        padding: 0;
    }

    /*.slide-3 .iva-description,*/
    /*.iva-description-img {*/
        /*display: table-cell;*/
        /*float: none;*/
    /*}*/

    .slide-5 .content {
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.199502);
        border-radius: 10px;
        padding: 0;
        flex-direction: column;
        overflow: hidden;
    }

    .slide-5 .content > div {
        padding: 0;
        flex-direction: row;
        display: flex;
        margin: 0;

    }
    .slide-5 .content > div:first-child {
        border-bottom: 1px solid #D8D8D8;
    }

    .slide-5 .content > div .feedback:not(:last-of-type) {
        border-right: 1px solid #D8D8D8;
    }

    .slide-5 .feedback {
        box-shadow: none;
        margin: 0;
        border-radius: 0;
        padding: 30px 25px;
    }
}



@media (max-width: 991px) {
    .header.header--stick .navbar {
        background: #FFFFFF;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 4px 40px rgba(0, 0, 0, 0.05);
    }

    .type-it {
        font-size: 24px;
    }

    .slide-2 {
        height: 90vh;
    }

    .slide-2 .background .rect {
        height: 75%;
    }

    .slide-2 .content > div:last-child {
        max-width: unset;
    }

    #showHeader {
        bottom: 0;
        position: absolute
    }

    .slide-3 .background .rect {
        height: calc(600px - 25vh);
    }

    .slide-2 .top-content p,
    .slide-5 .top-content p {
        width: 70%;
    }

    .slide-5 .content {
        margin-bottom: 50px;
    }

    .slide-5 .feedback {
        margin-bottom: 25px;
    }

    .slide-5 .background .rect {
        height: 80%;
    }
    .slide-5 .bottom-triangle.inverted.left-to-right:before {
        border-top-width: 10vh;
    }

    .slide-6 {
        padding: 25px 0 0;
    }

    .slide-1 > .content {
        /*height: 100vh;*/
        /*display: table-cell;*/
        /*vertical-align: middle;*/
        /*padding-top: 80px;*/
    }

    .slide-1 .container-bottom {
        position: relative;
        padding-top: 50px;
    }

    #showHeader {
        bottom: 0;
        position: absolute;
    }

    .slide-2 .container-inner {
        padding-bottom: 50px;
    }

    .slide-2 .case:not(:first-child) img {
        margin-top: 30px;
    }

    .slide-3 {
        padding-bottom: 50px;
    }

    .slide-3 .content {
        flex-direction: column;
        margin: 25px auto 50px;
    }

    .slide-3 .content > .feedback:first-of-type {
        margin-bottom: 25px;
    }

    .slide-4 {
        padding: 50px 30px !important;
    }

    .slide-4 .content {
        width: 100%;
    }

    #feedbackCarousel {
        margin-top: 50px;
    }
    #feedbackCarousel .feedback {
        width: 88%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .navbar-md {
        padding: 0;
    }

    .case {
        text-align: center;
    }

    .slide-6 .info {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .nav.navbar-nav.navbar-right > li > a.menu-item {
        /*padding: 20px 0 20px 20px;*/
    }

    .navbar.navbar-default .navbar-brand {
        margin: 24px 0;
    }

    .header.header--stick .navbar .content {
        padding: 0 30px;
        height: 64px;
    }

    .navbar .content {
        padding: 0 60px;
    }

    .navbar-collapse.collapse {
        /*float: right;*/
    }

    .navbar-header {
        display: inline-block;
    }

    .slide-1,
    .slide-2 .container-inner,
    .slide-3 .iva-description,
    .slide-4 .content,
    .slide-5 .info-left,
    .slide-5 .info-right {
        padding-left: 30px;
        padding-right: 30px;
    }

    /*.slide-3 .iva-description-img img {*/
    /*margin-left: -30px;*/
    /*}*/
    .slide-6 .container-inner {
        display: block;
    }

    .slide-6 .info {
        padding: 30px;
    }

    .slide-6 .logo-container {
        padding: 60px 30px;
        display: block;
        float: left;
        width: 50%;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    
}

@media (max-width: 575px) {

    .type-it {
        font-size: 15px !important;
    }


    .slide-2 .background .rect {
        height: 52%;
    }
    
    .slide-2 {
        min-height: 800px !important;
    }
    .slide-2 ol {
        margin: 0;
    }

    .slide-3 {
        padding-bottom: 0;
        margin-top: -160px;
    }

    .slide-3 .content {
        margin: -160px auto 0;
    }

    .slide-3 .introduction-msg {
        width: 62%;
        padding: 140px 0 100px;
    }

    .slide-3 .introduction-msg img {
        width: 30px;
    }

    .slide-3 .background .rect {
        height: calc(600px - 10vh);
    }

    form[name="contactForm"] input {
        width: 50%;
    }
}

@media (max-width: 444px) {
    .type-it {
        font-size: 18px !important;
        color: #FFFFFF;
    }

    #laptopImg {
        display: none;
    }

    .slide-1 > .content {
        padding: 0 25px !important;
    }

    .slide-2 {
        min-height: 900px !important;
    }

    .slide-2 > .content {
        padding: 0 15px !important;
    }

    .slide-3 {
        margin-top: -120px;
    }

    .slide-3 .content {
        margin-top: -220px;
    }

    .slide-3 .introduction-msg {
        padding: 0;
        width: 80%;
    }

    form[name="contactForm"] input {
        width: 80%;
    }
}

@media (max-width: 350px) {
    .header:not(.header--clone) .content {
        padding: 0 15px;
    }
}

@media (max-width: 320px) {
    .navbar .content {
        /*padding: 0 7%;*/
    }

    .slide-6 .info {
        padding: 30px 7%;
    }
}
